body {
  background-color: #0388A6;
  display: grid;
  place-content: center;
  min-height: 100vh;
}
p {
  text-align: center;
}
li {
  text-align: center;
  list-style: none;
}
.temp-panel {
  border-radius: 10px;
  margin: 0px;
}
.forcast{
  display: flex;
  justify-content: space-evenly;
}
input {
  display: block;
  margin: 0 auto;
}
button {
  display: block;
  margin: 0 auto;
}
.search-bar {
  display: block;
  margin-bottom: 1rem;
}
main {
  border-radius: 2rem;
  padding: 3rem 5rem 2rem 5rem;
  
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
